
{% load static %}
{% include "Site/base.html" %}

{% for msg in messages %}
<div class="notify" id="popupMessage">

  <div class="title-header">
    <img src="{% static 'site_assets/img/success.png' %}"" height="55" />
  </div>
  <div class="message-body">{{ msg }}</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" onclick="closeDialog()">Close</button>
  </div>
</div>
{% endfor %} 
<!-- cart + summary -->

<section class="bg-light my-5">
  
  <div class="container">
    <div class="row">
      {% if request.session.User_email %}

      {% else %}
      <div class="col-xl-12 col-lg-12 mb-4">
        <div class="card mb-4 border shadow-0">
          <div class="p-4 d-flex justify-content-between">
            <div class="">
              <h5>Have an account?</h5>
              <p class="mb-0 text-wrap "> consectetur adipisicing elit</p>
            </div>
            <div class="d-flex align-items-center justify-content-center flex-column flex-md-row">
              <a href="#" class="btn btn-outline-primary me-0 me-md-2 mb-2 mb-md-0 w-100">Register</a>
              <a href="#" class="btn btn-primary shadow-0 text-nowrap w-100">Sign in</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- cart -->
      <div class="col-lg-9">
        <div class="card border shadow-0">
          <div class="m-4">
            <h4 class="card-title mb-4">Your shopping cart</h4>
            {% if cart %}
            {% for cart in cart %}
            <div class="row gy-3 mb-4">
              <div class="col-lg-5">
                <div class="me-lg-5">
                  <div class="d-flex">
                    <img src="{{ cart.Item.Item_image.url }}" class="border rounded me-3" style="width: 96px; height: 96px;" />
                    <div class="">
                      <a href="#" class="nav-link">{{ cart.Item.Item }}</a>
                      <p class="text-muted">{{ cart.color }}, {{ cart.size }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-4 col-4 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                <div class="">
                  <form method="POST" action="/Site/UpdateCart/">
                    {% csrf_token %}
                    <input type="hidden" value="{{ cart.id }}" name="cartid">
                    <input type="hidden" value="{{ cart.Item.descount_price }}" name="price">
                  <input type="number" name="qty" placeholder="{{ cart.qty }}" min="1" max="15" style="width: 100px;" class="form-select me-4"> 
                </div>
                <div class="">
                  <text class="h6">₹ {{ cart.price }}.00</text> <br />
                  <small class="text-muted text-nowrap"> ₹ {{ cart.Item.descount_price }}.00 / per item </small>
                </div>
              </div>
              <div class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
                <div class="float-md-end">
                  <button type="submit" class="btn btn-light border px-2 icon-hover-primary"><i class="fas fa-pen fa-lg px-1 text-warning"></i></button>
                </form>
                  <a href="/Site/Remove_cart_item/{{ cart.id }}" class="btn btn-light border text-danger icon-hover-danger"> <i class="fas fa-trash fa-lg px-1 text-danger"></i></a>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="card mb-4 border shadow-0">
              <div class="p-4 d-flex justify-content-between">
                <div class="">
                  <h5 style="color:orange;">Your cart is Empty..?</h5>
                  <p style="color:green;" class="mb-0 text-wrap "><i>You need to <s></s>hop  now and add items to cart...!</i></p>
                </div>
                <div class="d-flex align-items-center justify-content-center flex-column flex-md-row">
                  <a href="/Site/grid_view" class="btn btn-danger shadow-0 text-nowrap w-100">Start shopping Now</a>
                </div>
              </div>
            </div>
    
            {% endif %}
          </div>
          <div class="border-top pt-4 mx-4 mb-4">
            <p><i class="fas fa-truck text-muted fa-lg"></i> Free Delivery within 1-2 weeks</p>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip
            </p>
          </div>
        </div>
      </div>
      <!-- cart -->
      <!-- summary -->
      <div class="col-lg-3">
        <div class="card mb-3 border shadow-0">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label class="form-label">Have coupon?</label>
                <div class="input-group">
                  <input type="text" class="form-control border" name="" placeholder="Coupon code" />
                  <button class="btn btn-light border">Apply</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card shadow-0 border">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="mb-2">Cart Items Price:</p>
              <p class="mb-2"> ₹{{ total}}.00</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="mb-2">Discount:</p>
              <p class="mb-2 text-success">₹ 0.00</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="mb-2">Delivery Charge:</p>
              <p class="mb-2">{{ delevery }}</p>
            </div>
            <hr />
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total price:</p>
              <p class="mb-2 fw-bold"> ₹{{ total }}.00</p>
            </div>

            <div class="mt-3">
              <a href="/Site/Checkout_page" class="btn btn-success w-100 shadow-0 mb-2"> Make Purchase </a>
              {% csrf_token %}
              <a href="/Site/home" class="btn btn-light w-100 border mt-2"> Back to shop </a>
            </div>
          </div>
        </div>
      </div>
      <!-- summary -->
    </div>
  </div>
</section>
<!-- cart + summary -->
<!-- Recommended -->
{% include "Site/footer.html" %}