{% load static%}
{% include "Site/base.html" %}

<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 mb-4">
        <!-- Checkout -->
        <div class="card shadow-0 border">
          <div class="p-4">
            <h5 class="card-title mb-3">Add New Address</h5>
            <div class="row">
              <form method="POST" action="/Site/AddDeleveryAddress/">
                {% csrf_token %}
                <div class="row">
              <div class="col-6 mb-3">
                <p class="mb-0">First name</p>
                <div class="form-outline">
                  <input type="text" id="typeText" name="firstname" placeholder="Type here" class="form-control" />
                </div>
              </div>
              
              <div class="col-6">
                <p class="mb-0">Last name</p>
                <div class="form-outline">
                  <input type="text" id="typeText" name="lastname" placeholder="Type here" class="form-control" />
                </div>
              </div>
            </div>
                <div class="row">
              <div class="col-6 mb-3">
                <p class="mb-0">Phone</p>
                <div class="form-outline">
                  <input type="number" id="typeText" name="mobile" placeholder="91 9122334455" class="form-control" />
                </div>
              </div>
              
              <div class="col-6">
                <p class="mb-0">Email</p>
                <div class="form-outline">
                  <input type="email" id="typeText" name="email" placeholder="example@gmail.com" class="form-control" />
                </div>
              </div>
            </div>
              <div class="row">
              <div class="col-6 mb-3">
                <p class="mb-0">House / Appartment</p>
                <div class="form-outline">
                  <input type="text" id="typeText" name="house" placeholder="type address" class="form-control" />
                </div>
              </div>
              
              <div class="col-6">
                <p class="mb-0">address</p>
                <div class="form-outline">
                  <input type="text" id="typeText" name="address" placeholder="address" class="form-control" />
                </div>
              </div>
            </div>
             
              <div class="row">
              <div class="col-6 mb-3">
                <p class="mb-0">city</p>
                <div class="form-outline">
                  <input type="text" id="typeText" name="city" placeholder="Hyderabad" class="form-control" />
                </div>
              </div>
              
              <div class="col-6">
                <p class="mb-0">State</p>
                <div class="form-outline">
                  <input type="text" id="typeText" name="state" placeholder="Telanagana" class="form-control" />
                </div>
              </div>
            </div>
              <div class="col-6 mb-3">
                <p class="mb-0">zipcode</p>
                <div class="form-outline">
                  <input type="number" id="typeEmail" name="zipcode" placeholder="example@gmail.com" class="form-control" />
                </div>
              </div>  
            </div>
            <hr class="my-4" />
            <div class="float-end">
              <a href="/Site/home" class="btn btn-light border">Cancel</a>
              <button type="submit" class="btn btn-success shadow-0 border">Add New Address</button>
            </div>
          </form>
          </div>
        </div>
        <hr>
        <div class="card mb-4 border shadow-0">
          {% for O in address %}
          <div class="p-4 d-flex justify-content-between">
            <div class="">
              <h5>{{O.firstname }} {{O.lastname }}</h5>
              <p class="mb-0 text-wrap ">Mobile:<b> {{ O.mobile }}</b></p>
              <p class="mb-0 text-wrap ">Email: <b>{{ O.email }}</b></p>
              <p class="mb-0 text-wrap ">Mobile: {{ O.appartment }}</p>
              <p class="mb-0 text-wrap ">{{O.address }} {{O.city }}</p>
              <p class="mb-0 text-wrap ">{{O.state }} {{O.Zip_code }}</p>
            </div>
            <div class="d-flex align-items-center justify-content-center flex-column flex-md-row">
              <form method="POST" action="/Site/ProccedToCheckout/">
                <input type="hidden" name="address" value="{{ O.id }}">
                {% csrf_token %}
              <button type="submit" class="btn btn-danger shadow-0 text-nowrap w-100">Checkout and Delevery Hare</a>
            </form>
              
            </div>
          </div>
          <hr>
          {% endfor %}
        </div>
        
        <!-- Checkout -->
      </div>
      <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
        <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
          <h6 class="text-dark my-4">Items for Checkout</h6>

          {% for item in item %}
          <div class="d-flex align-items-center mb-4">
            <div class="me-3 position-relative">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                1
              </span>
              <img src="{{ item.Item.Item_image.url }}" style="height: 96px; width: 96x;" class="img-sm rounded border" />
            </div>
            <div class="">
              <a href="#" class="nav-link">
               {{ item.Item.Item }}
              </a>
              <div class="price text-muted">Total: ₹ {{ item.price }}.00</div>
            </div>
          </div>
          {% endfor %}
            <hr>
          <h6 class="mb-3">Summary</h6>
          <div class="d-flex justify-content-between">
            <p class="mb-2">Total price:</p>
            <p class="mb-2">₹ {{total_price}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="mb-2">Discount:</p>
            <p class="mb-2 text-danger">- 0.00</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="mb-2">Shipping cost:</p>
            <p class="mb-2">+ 0.00</p>
          </div>
          <hr />
          <div class="d-flex justify-content-between">
            <p class="mb-2">Total price:</p>
            <p class="mb-2 fw-bold">₹{{total_price}}</p>
          </div>

          <div class="input-group mt-3 mb-4">
            <input type="text" class="form-control border" name="" placeholder="Promo code" />
            <button class="btn btn-light text-primary border">Apply</button>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>

{% include "Site/footer.html" %}