{% load static %}

{% include 'Site/base.html' %}

{% for msg in messages %}
      <div class="notify" id="popupMessage">

      <div class="title-header">
        <img src="{% static 'site_assets/img/success.png' %}"" height="55" />
      </div>
      <div class="message-body">{{ msg}}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="closeDialog()">Close</button>
      </div>
    </div>

         {% endfor %}    
<section class="pt-3">
  <div class="container">
    <div class="row gx-3">
      <main class="col-lg-9">
          <img style="width: 100%;" src="{% static 'site_assets/img/1.jpg' %}">
        </div>
      </main>
    </div>
    <!-- row //end -->
  </div>
  <!-- container end.// -->
</section>
<!-- intro -->

<!-- category -->
<section>
  <div class="container pt-5">
    <nav class="row gy-4">
      <div class="col-lg-12 col-md-12">
        <div class="row">

          {% for C in category %}
          <div class="col-2">
            <a href="/Site/list_view/?category={{ C.id }}" class="text-center d-flex flex-column justify-content-center">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                <img src="{{ C.Category_icon.url }}" alt="Girl in a jacket" width="30" height="30">
              </button>
              <div class="text-dark">{{ C.Category_name }}</div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </nav>
  </div>
</section>
<!-- category -->

<!-- Products -->
<section>
  <div class="container my-5">
    <header class="mb-4">
      <h3>New products</h3>
    </header>

    <div class="row">
      {% for item in items %}
      <div class="col-lg-3 col-md-12 col-sm-12" >
        <div class="card my-2 shadow-0">
          <a href="/Site/product_detail_page/{{ item.id}}" class="">
            <div class="mask" style="height: 50px;">
              <div class="d-flex justify-content-start align-items-start h-100 m-2">
                <h6><span class="badge bg-danger pt-1">New</span></h6>
              </div>
            </div>
            <img src="{{ item.Item_image.url }}" class="card-img-top rounded-2" style="aspect-ratio: 1 / 1"/>
          </a>
          <div class="card-body p-0 pt-3">
            <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
            <h5 class="card-title"><b>₹ {{ item.descount_price}}.00</b></h5>
            <i><p class="card-text mb-0"><b>₹</b><s style="color:red; font-size:15px;"> {{ item.Total_price}}.00</s></p></i>
            <p class="text-muted">
             {{ item.Item}}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
     
  
    </div>
  </div>
</section>
<!-- Products -->

<!-- Features -->
<section>
  <div class="container">
    <div class="card p-4 bg-primary">
      <div class="row align-items-center">
        <div class="col">
          <h4 class="mb-0 text-white">Best products and brands in store</h4>
          <p class="mb-0 text-white-50">Trendy products and text to build on the card title</p>
        </div>
        <div class="col-auto"><a class="btn btn-white text-primary shadow-0" href="#">Discover</a></div>
      </div>
    </div>
  </div>
</section>
<!-- Features -->

<!-- Recommended -->
<section>
  <div class="container my-5">
    <header class="mb-4">
      <h3>Recommended</h3>
    </header>

    <div class="row">
      {% for R in Rec %}
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card my-2 shadow-0">
          <a href="#" class="">
            <img src="{{ R.Item_image.url }}" class="card-img-top rounded-2" style="aspect-ratio: 1 / 1"/>
          </a>
          <div class="card-body p-0 pt-3">
            <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
            <h5 class="card-title">₹ {{ R.descount_price}}.00</h5>
            <p class="card-text mb-0">  {{ R.Item}}</p>
            <p class="text-muted">
              Sizes: S, M, XL
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
</section>
<!-- Recommended -->
{% include 'Site/footer.html' %}