{% load static %}
{% include "Site/base.html" %}

{% for msg in messages %}
<div class="notify" id="popupMessage">

  <div class="title-header">
    <img src="{% static 'site_assets/img/success.png' %}"" height="55" />
  </div>
  <div class="message-body">{{ msg }}</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" onclick="closeDialog()">Close</button>
  </div>
</div>
{% endfor %} 
<section style="background-color: #eee;">
    <div class="container py-5">
      {% for User in User %}
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{ User.firstname}} {{User.lastname}}</h5>
              <p class="text-muted mb-1">{{User.email }}</p>
              <div class="d-flex justify-content-center mb-2">
                <a href="/Site/UpdateUserProfile/{{ User.id }}" class="btn btn-success ms-1">Update Profile</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ User.firstname}} {{ User.lastname}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{User.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{User.mobile }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">(098) 765-4321</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">
                 <a href="/Site/MyOrdersPage" class="btn btn-primary ms-1">My Orders</a>
                  </p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <a href="/Site/updatePassword" type="button" class="btn btn-warning ms-1">Change Password</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        
        </div>
      </div>
    </div>
  </section>
  {% include "Site/footer.html" %}